[submodule "Codeforces"]
	path = Codeforces
	url = https://github.com/imShakil/Codeforces.git
[submodule "GoogleFoobar"]
	path = GoogleFoobar
	url = https://github.com/imShakil/GoogleFoobar.git
[submodule "leetcode-practices"]
	path = leetcode-practices
	url = https://github.com/imShakil/leetcode-practices.git
